* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
div.container-fluid {
  height: 100%;
}
div.row {
  height: 100%;
}
div.col-md-3 {
  height: 100%;
}
div.col-md-9 {
  height: 100%;
}
#map.x-large {
  width: 100%;
  min-height: 100px;
  height: 100%;
}
.routeLength {
  text-align: center;
  color: #fff;
  opacity: 0.8;
  background: #4477aa;
  border: solid 3px #336699;
  border-radius: 4px;
  box-shadow: 2px 2px 10px #333;
  text-shadow: 1px 1px 1px #666;
}
